    {% load bootstrap4%}
    {% load bootstrap3 %}
    <form action="{% url 'search' %}" class="navbar-form navbar-left" method="get">
        <div class="input-group">
            <input id="search" name="q" type="text" class="form-control" placeholder="Поиск">
        </div>
    </form>
    {% block page %}
        <h1>Поиск</h1>
        {% if object_list %}
            {% for object in object_list %}
                <div>
                    <h1><a href="">{{object.name}}</a> </h1>
                    <p>Genres:{%for genre in object.genres.all%}
                        {{genre}}
                    {% endfor %}</p>
                    <p>{%for author in object.authors.all%}
                        Author:{{author}}
                    {% endfor %}</p>
                    <p> book year publish:{{object.date}}</p>
                </div>
            {% endfor %}
            {% bootstrap_pagination object_list url=last_question %}
        {% else %}
            <p>Не найдено публикаций по вашему запросу<br>Попробуйте повторить запрос с другой формулировкой</p>
        {% endif %}
    {% endblock %}